.table-container {
    width: 80%;
    margin: auto;
}

table {
    width: 100%;
    margin-top: 50px;
    border-collapse: collapse;
}

th {
    background-color: #FAD7A0;
    border: 1px solid #000;
    text-align: center;
    padding: 8px;
    font-weight: 700;
}

 td {
    border: 1px solid #bbb;
    text-align: center;
    padding: 8px;
    font-weight: 400;
    border: 1px solid #000;
}

.trashButton {
    border: none;
    padding: 2px 5px;
    border-radius: 7px;
}